*-*-*.def
*-*-*.exp
*-*-*.lib
*.a
*.bak
*.bc
*.dSYM
*.dmyh
*.dylib
*.elc
*.i
*.inc
*.log
*.o
*.obj
*.old
*.orig
*.pdb
*.rej
*.s
*.sav
*.swp
*.yarb
*~
.*-*
.*.list
.*.time
.DS_Store
.bundle
.ccmalloc
.ext
.pc
.ppack
.svn
Makefile
cygruby*.def
extconf.h
y.output
y.tab.c
*.gcda
*.gcno
*.gcov
lcov*.info

# /
/*-fake.rb
/*.dll
/*.exe
/*.res
/*.pc
/*.rc
/*_prelude.c
/COPYING.LIB
/Doxyfile
/GNUmakefile
/README.atheos
/README.fat-patch
/README.v6
/TAGS
/archive
/autom4te*.cache
/automake
/beos
/bmlog-*
/breakpoints.gdb
/config.cache
/config.h
/config.h.in
/config.status
/config.status.lineno
/coverage/simplecov
/coverage/simplecov-html
/coverage/doclie
/coverage/.last_run.json
/coverage/.resultset.json*
/coverage/assets
/coverage/index.html
/doc/capi
/exts.mk
/goruby
/id.[ch]
/largefile.h
/lcov-c-out
/lcov-rb-out
/lcov-out
/lex.c
/libruby*.*
/miniprelude.c
/miniruby
/newdate.rb
/newline.c
/newver.rb
/parse.c
/parse.h
/patches
/patches-master
/pitest.rb
/ppack
/prelude.c
/preview
/probes.dmyh
/probes.h
/rbconfig.rb
/rename2.h
/repack
/revision.h
/riscos
/rubicon
/ruby
/ruby-runner
/ruby-runner.h
/ruby-man.rd.gz
/run.gdb
/sizes.c
/test.rb
/test-coverage.dat
/tmp
/transdb.h
/uncommon.mk
/verconf.h
/verconf.mk
/web
/yasmdata.rb

# /benchmark/
/benchmark/bm_require.data
/benchmark/bmx_*.rb
/benchmark/fasta.output.*
/benchmark/wc.input

# /exe/
/exe/ruby
/exe/.time

# /spec/bundler
/.rspec_status

# /tool/
/tool/config.guess
/tool/config.sub

# /win32/
/win32/*.ico
/win32/.time
